.body-attributes {
	background-color: powderblue;
}

.paragraph-attributes {
	margin-left: 10px;
	margin-top: 10px;
	margin-left: 10px;
}

.container-horizontal {
	width:100%;
	height:100vh;
}

.left-container, .mid-container, .right-container {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: left;
}

.left-element {
	width: 15%;
}
.mid-element {
	width: 15%;
}

.right-element {
	width: 15%;
}

.content {
 position: fixed;
 top: 20px;
 bottom: 80px;
 left: 0;
 right: 0;
 overflow:auto;
}
