{% extends 'base.html' %}

{% block pages %}
<!-- here a loop is required to check the number of posts done -->
	<!--
		<ul class="dropdown-menu">
			<li><a href="#">Page 1-1</a></li>
		</ul>
	-->
	<ul class="dropdown-menu">
		{% for post in posts %}
				<li><a href="/post?name={{ post[post.rindex('/')+1:post.rindex('.')] }}">{{ post[post.rindex('/')+1:] }}</a></li>
		{% endfor %}
	</ul>
{% endblock %}

{% block content %}
	<div>
		<p class="paragraph-attributes">Create your post</p>
	</div>
	<hr />
	<form action="/newpost" method="post">
		<div>
			<textarea style="width:100%; height:70vh" name="postcontent"></textarea>
			<br />
			<input type="submit" value="Submit">
		</div>
	</form>
{% endblock %}
